@model IEnumerable<WaterCompany.Data.Entities.Bill>

@{
    ViewData["Title"] = "Index";
}

<h1>Bills</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if (this.User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.DateOfIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Method)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume) (m³)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value) (€)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Admin"))
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </th>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfIssue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Method)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                <th>
                    <a asp-action="Pay" asp-route-id="@item.id" class="btn btn-primary" id="btnDeliver">Pay</a>
                </th>
                <th>
                    <a asp-action="BillDetails" asp-route-id="@item.id" class="btn btn-info">Details</a>
                </th>

                    @if (this.User.IsInRole("Admin"))
                    {
                    <th>
                        <a asp-action="DeleteBill" asp-route-id="@item.id" class="btn btn-danger" id="btnDelete">Delete</a>
                    </th>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>