@model WaterCompany.Data.Entities.Country
@{
    ViewData["Title"] = "Details";
}

<h4>Country Details</h4>
<hr />
<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.Name)</dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-warning">Edit</a>
    <a asp-action="AddCity" asp-route-id="@Model.id" class="btn btn-info">Add City</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>

<br /><br />

<h4>Cities</h4>
@if (Model.Cities == null || Model.Cities.Count == 0)
{
    <h5>No cities added yet</h5>
}
else
{
    <table class="table table-hover table-responsive table-striped" id="CitiesTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cities.OrderBy(c => c.Name))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td id="@item.id">
                        <a asp-action="EditCity" asp-route-id="@item.id" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger btnDeleteCity" data-id="@item.id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div id="deleteDialogCity" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete City</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete this city?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnYesDeleteCity">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize DataTables
            $('#CitiesTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true
            });

            var countryId = 0;

            // Capture the ID of the item to be deleted
            $('.btnDelete').on('click', function () {
                countryId = $(this).data('id');
                $('#deleteDialog').modal('show');
            });

            // Handle the deletion when confirmed
            $('#btnYesDelete').on('click', function () {
                window.location.href = '/Countries/Delete/' + countryId;
            });
        });
    </script>
}